<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	 <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<title>error | CodeNow</title>
<style type="text/css">

body{
	background: url('./images/404_bg.jpg');
	    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100rem 100rem;
}
	#container{
		border-radius: 50px;
background-image: radial-gradient(circle, #5b595a, #777576, #949294, #b1b1b3, #d0d0d3, #d0d0d3, #d0d1d4, #d0d1d4, #b2b3b5, #959597, #79797a, #5e5e5e);
box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
    margin: 8rem 18rem;
    padding: 2rem 3rem;
    width: 52rem;
    opacity: 0.82;
   
    text-shadow: 3px 5px 3px rgba(0, 0, 0, 0.43);
	}
	#container:hover{
		
		cursor: pointer;
		opacity: 0.9;
	}
	.setheader1{
	
    margin: 2rem 12rem;
    padding: 2rem 2rem;
    width: 30rem;
   text-shadow: 3px 1px 0px rgba(255, 255, 255, 1);
   color: black;
	}
	.setheader2{

     margin: 0rem 1rem;
    padding: 0rem 2rem 4rem 2rem;
    width: 45rem;
    color: black;
     text-shadow: 3px 1px 0px rgba(255, 255, 255, 1);
	}

</style>

</head>
<body >

<div id="container">
	
	<h1  class="setheader1">
</svg>404 NOT Found <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/></h1>
	
	<h6  class="setheader2">FOR SOME REASON THE PAGE YOU REQUESTED COULD NOT BE FOUND ON OUR SERVER</h6>
<a class="btn btn-secondary position-center" href="/home" role="button">HomePage</a>
</div>
	
	

 

    
  
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>