<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- phone css -->
  <link rel="stylesheet" type="text/css" media=" screen and (min-width:1300px) and (max-width: 1500px)"
    href="./css/landing_pc.css">
  <link rel="stylesheet" type="text/css" media=" screen and (max-width: 1300px)" href="./css/landing_phone.css">
  <!-- part3 link -->
  <link rel="stylesheet" href="./social-media-icons.css">
  <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
  <title>Landing Page</title>
<style type="text/css">
    .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 11%;
    box-shadow:  -20px -20px 60px #b3b3b3,
             20px 20px 60px #ffffff;
}
</style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">CodeNow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto ">

          <li class="nav-item">
            <a class="nav-link" href="/contests">Contests</a>
          </li>
        </ul>
        <div class="mx-2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/Login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- part 1 -->
  <div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 ">
        <h2 class="text-dark" class="featurette-heading d-flex justify-content-center align-items-center">
          CodeNow&nbsp<span class="text-dark">Contests</span></h2>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptates
          corporis voluptatem magnam ipsum! Voluptas hic minus ad incidunt it
        </p>
        <p class="lead">
          <a class="btn  btn-dark" href="/login" role="button">Join Now</a>
        </p>
      </div>
      <div class="col-md-5 order-md-2">
        <img class="img-fluid" src="./images/landing_img.jpg">
      </div>
    </div>
  </div>
  <!-- part -2 -->
  <br>
  <br>
  <div class="part2"><h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sed recusandae repellendus
    doloribus obcaecati quisquam facilis perspiciatis veniam, similique nemo a corporis asperiores quia. Explicabo iusto
    odio aut molestiae iste Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, error fugit quod animi
    nihil debitis dolorum magni quasi excepturi laboriosam ad. Corporis consectetur quibusdam ex ullam, itaque atque
    aspernatur vel? </h5></div> 

  <!-- part 3 -->
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Facilities</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://source.unsplash.com/900x400/?programming');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Less Traffic</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="codenow_logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Less traffic</small>
              </li>
             
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://source.unsplash.com/900x400/?black wallpaper');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Good User Interface</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="codenow_logo.png" alt="logo" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>UI that you love !</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://source.unsplash.com/900x400/?space');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Group Contest</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="codenow_logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Contests you Love !</small>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- part 4 ends -->
      
  <!-- part 4  cards-->

 
 
        <div class="social-menu">
            <ul>
                <li><a href="https://github.com/NeoShubh" target="blank"><i class="fab fa-github"></i></i></a></li>
                <li><a href="https://www.linkedin.com/in/shubham-rathore-1a25111a9/" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/royalrathore107/" target="blank"><i class="fab fa-instagram"></i></a></li>
               
                <li><a href="https://www.facebook.com/profile.php?id=100036683740884"><i class="fab fa-facebook" target="blank"></i></a></li>
            </ul>
        </div>
      
<!-- 
  <div id="outer">
    <div class="inner"><button class="Btn"><i class="fab fa-affiliatetheme fa-10x"></i>
      </button></div>
    <div class="inner"><button class="Btn"><i class="fab fa-algolia fa-10x"></i></button></div>
    <div class="inner"><button class="Btn"><i class="fas fa-anchor fa-10x"></i></button></div>
  </div>
  <div id="outer">
    <div class="inner"><button class="Btn"><i class="fab fa-app-store-ios fa-10x"></i></button></div>
    <div class="inner"><button class="Btn"><i class="fab fa-angrycreative fa-10x "></i></button></div>
    <div class="inner"><button class="Btn"><i class="fab fa-apple fa-10x"></i></button></div>
  </div> -->


  <!-- bootstrap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

  <script>

  </script>

</body>

</html>